.img-header {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F59723;
}

.img-bogy {
    margin-top: 70px;
}

.setting-content {
    margin-top: 70px;
}

.input-setting {
    margin-top: 20px;
}

.btn-custom {
    background-color: #F57C23;
    color: white;
}
