.bg-color{
  background-color: blue;
}
//icon
.icon-primary {
  color: #9c27b0; }

.icon-info {
  color: #00bcd4; }

.icon-success {
  color: #4caf50; }

.icon-warning {
  color: #ff9800; }

.icon-danger {
  color: #f44336; }
.icon-rose {
  color: #e91e63; }
